.inboxline.cmark_800000 .inboxfield { color:#800000; }
.inboxline.marked.cmark_800000, .cmark_square.cmark_800000, .cmark_circle.cmark_800000 { background-color:#800000; }
.inboxline.marked.cmark_800000 .inboxfield { color:white; }

.inboxline.cmark_008000 .inboxfield { color:#008000; }
.inboxline.marked.cmark_008000, .cmark_square.cmark_008000, .cmark_circle.cmark_008000 { background-color:#008000; }
.inboxline.marked.cmark_008000 .inboxfield { color:white; }

.inboxline.cmark_000080 .inboxfield { color:#000080; }
.inboxline.marked.cmark_000080, .cmark_square.cmark_000080, .cmark_circle.cmark_000080 { background-color:#000080; }
.inboxline.marked.cmark_000080 .inboxfield { color:white; }

.inboxline.cmark_808000 .inboxfield { color:#808000; }
.inboxline.marked.cmark_808000, .cmark_square.cmark_808000, .cmark_circle.cmark_808000 { background-color:#808000; }
.inboxline.marked.cmark_808000 .inboxfield { color:white; }

.inboxline.cmark_008080 .inboxfield { color:#008080; }
.inboxline.marked.cmark_008080, .cmark_square.cmark_008080, .cmark_circle.cmark_008080 { background-color:#008080; }
.inboxline.marked.cmark_008080 .inboxfield { color:white; }

.inboxline.cmark_800080 .inboxfield { color:#800080; }
.inboxline.marked.cmark_800080, .cmark_square.cmark_800080, .cmark_circle.cmark_800080 { background-color:#800080; }
.inboxline.marked.cmark_800080 .inboxfield { color:white; }

.inboxline.cmark_808080 .inboxfield { color:#808080; }
.inboxline.marked.cmark_808080, .cmark_square.cmark_808080, .cmark_circle.cmark_808080 { background-color:#808080; }
.inboxline.marked.cmark_808080 .inboxfield { color:white; }

.inboxline.cmark_FF0000 .inboxfield { color:#FF0000; }
.inboxline.marked.cmark_FF0000, .cmark_square.cmark_FF0000, .cmark_circle.cmark_FF0000 { background-color:#FF0000; }
.inboxline.marked.cmark_FF0000 .inboxfield { color:white; }

.inboxline.cmark_00FF00 .inboxfield { color:#00FF00; }
.inboxline.marked.cmark_00FF00, .cmark_square.cmark_00FF00, .cmark_circle.cmark_00FF00 { background-color:#00FF00; }
.inboxline.marked.cmark_00FF00 .inboxfield { color:white; }

.inboxline.cmark_0000FF .inboxfield { color:#0000FF; }
.inboxline.marked.cmark_0000FF, .cmark_square.cmark_0000FF, .cmark_circle.cmark_0000FF { background-color:#0000FF; }
.inboxline.marked.cmark_0000FF .inboxfield { color:white; }

.inboxline.cmark_FFFF00 .inboxfield { color:#FFFF00; }
.inboxline.marked.cmark_FFFF00, .cmark_square.cmark_FFFF00, .cmark_circle.cmark_FFFF00 { background-color:#FFFF00; }
.inboxline.marked.cmark_FFFF00 .inboxfield { color:white; }

.inboxline.cmark_00FFFF .inboxfield { color:#00FFFF; }
.inboxline.marked.cmark_00FFFF, .cmark_square.cmark_00FFFF, .cmark_circle.cmark_00FFFF { background-color:#00FFFF; }
.inboxline.marked.cmark_00FFFF .inboxfield { color:white; }

.inboxline.cmark_FF00FF .inboxfield { color:#FF00FF; }
.inboxline.marked.cmark_FF00FF, .cmark_square.cmark_FF00FF, .cmark_circle.cmark_FF00FF { background-color:#FF00FF; }
.inboxline.marked.cmark_FF00FF .inboxfield { color:white; }

.inboxline.cmark_000000 .inboxfield { color:#000000; }
.inboxline.marked.cmark_000000, .cmark_square.cmark_000000, .cmark_circle.cmark_000000 { background-color:#000000; }
.inboxline.marked.cmark_000000 .inboxfield { color:white; }

.inboxline.cmark_FFCCFF .inboxfield { color:#FFCCFF; }
.inboxline.marked.cmark_FFCCFF, .cmark_square.cmark_FFCCFF, .cmark_circle.cmark_FFCCFF { background-color:#FFCCFF; }
.inboxline.marked.cmark_FFCCFF .inboxfield { color:white; }

.inboxline.cmark_FF1414 .inboxfield { color:#FF1414; }
.inboxline.marked.cmark_FF1414, .cmark_square.cmark_FF1414, .cmark_circle.cmark_FF1414 { background-color:#FF1414; }
.inboxline.marked.cmark_FF1414 .inboxfield { color:white; }

.inboxline.cmark_EBEB00 .inboxfield { color:#EBEB00; }
.inboxline.marked.cmark_EBEB00, .cmark_square.cmark_EBEB00, .cmark_circle.cmark_EBEB00 { background-color:#EBEB00; }
.inboxline.marked.cmark_EBEB00 .inboxfield { color:white; }

.inboxline.cmark_FF00FF .inboxfield { color:#FF00FF; }
.inboxline.marked.cmark_FF00FF, .cmark_square.cmark_FF00FF, .cmark_circle.cmark_FF00FF { background-color:#FF00FF; }
.inboxline.marked.cmark_FF00FF .inboxfield { color:white; }

.inboxline.cmark_C0C0C0 .inboxfield { color:#C0C0C0; }
.inboxline.marked.cmark_C0C0C0, .cmark_square.cmark_C0C0C0, .cmark_circle.cmark_C0C0C0 { background-color:#C0C0C0; }
.inboxline.marked.cmark_C0C0C0 .inboxfield { color:white; }

.inboxline.cmark_99FF66 .inboxfield { color:#99FF66; }
.inboxline.marked.cmark_99FF66, .cmark_square.cmark_99FF66, .cmark_circle.cmark_99FF66 { background-color:#99FF66; }
.inboxline.marked.cmark_99FF66 .inboxfield { color:white; }

.inboxline.cmark_99CCFF .inboxfield { color:#99CCFF; }
.inboxline.marked.cmark_99CCFF, .cmark_square.cmark_99CCFF, .cmark_circle.cmark_99CCFF { background-color:#99CCFF; }
.inboxline.marked.cmark_99CCFF .inboxfield { color:white; }

.inboxline.cmark_996600 .inboxfield { color:#996600; }
.inboxline.marked.cmark_996600, .cmark_square.cmark_996600, .cmark_circle.cmark_996600 { background-color:#996600; }
.inboxline.marked.cmark_996600 .inboxfield { color:white; }

.inboxline.cmark_800000 .inboxfield { color:#800000; }
.inboxline.marked.cmark_800000, .cmark_square.cmark_800000, .cmark_circle.cmark_800000 { background-color:#800000; }
.inboxline.marked.cmark_800000 .inboxfield { color:white; }

.inboxline.cmark_6666CC .inboxfield { color:#6666CC; }
.inboxline.marked.cmark_6666CC, .cmark_square.cmark_6666CC, .cmark_circle.cmark_6666CC { background-color:#6666CC; }
.inboxline.marked.cmark_6666CC .inboxfield { color:white; }

.inboxline.cmark_00D0D0 .inboxfield { color:#00D0D0; }
.inboxline.marked.cmark_00D0D0, .cmark_square.cmark_00D0D0, .cmark_circle.cmark_00D0D0 { background-color:#00D0D0; }
.inboxline.marked.cmark_00D0D0 .inboxfield { color:white; }

.inboxline.cmark_009900 .inboxfield { color:#009900; }
.inboxline.marked.cmark_009900, .cmark_square.cmark_009900, .cmark_circle.cmark_009900 { background-color:#009900; }
.inboxline.marked.cmark_009900 .inboxfield { color:white; }

.inboxline.cmark_007272 .inboxfield { color:#007272; }
.inboxline.marked.cmark_007272, .cmark_square.cmark_007272, .cmark_circle.cmark_007272 { background-color:#007272; }
.inboxline.marked.cmark_007272 .inboxfield { color:white; }

.inboxline.cmark_0066CC .inboxfield { color:#0066CC; }
.inboxline.marked.cmark_0066CC, .cmark_square.cmark_0066CC, .cmark_circle.cmark_0066CC { background-color:#0066CC; }
.inboxline.marked.cmark_0066CC .inboxfield { color:white; }

.inboxline.cmark_000000 .inboxfield { color:#000000; }
.inboxline.marked.cmark_000000, .cmark_square.cmark_000000, .cmark_circle.cmark_000000 { background-color:#000000; }
.inboxline.marked.cmark_000000 .inboxfield { color:white; }

.inboxline.cmark_FFFFFF .inboxfield { color:#FFFFFF; }
.inboxline.marked.cmark_FFFFFF, .cmark_square.cmark_FFFFFF, .cmark_circle.cmark_FFFFFF { background-color:#FFFFFF; }
.inboxline.marked.cmark_FFFFFF .inboxfield { color:black; }